<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>me.me.io</title>

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Vue related thirdparty scripts -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/vuex/dist/vuex.js"></script>

    <!-- Axios Http Client -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Promise (required by Vuex) -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>

    <!-- Lodash (required by Vuex Persist) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>

    <!-- Vuex Persistence Plugin -->
    <script src="https://cdn.jsdelivr.net/npm/vuex-persist"></script>
</head>

<body>
    <div id="memeio_app">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">me.me.io</a>

            <form v-if="$store.getters.isAuthenticated" class="form-inline">
                <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="bottom"
                    title="Create post" @click="onCreatePostButtonClick">
                    Create post
                </button>
                <button type="button" class="btn btn-outline-success" data-toggle="tooltip" data-placement="bottom"
                    title="User settings" @click="onUserSettingsButtonClick">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="bottom"
                    title="Logout" @click="onLogoutButtonClick">
                    <i class="fa fa-power-off" aria-hidden="true"></i>
                </button>
            </form>
        </nav>
        <div class="container">
            <router-view></router-view>
        </div>
    </div>

    <!-- User -->
    <script src="js/user/user_settings.js"></script>
    <script src="js/user/user.js"></script>

    <!-- Post -->
    <script src="js/post/post_list.js"></script>
    <script src="js/post/post_view.js"></script>
    <script src="js/post/post_create.js"></script>
    <script src="js/post/post.js"></script>

    <!-- Authentication -->
    <script src="js/auth/login.js"></script>
    <script src="js/auth/registration.js"></script>
    <script src="js/auth/logout.js"></script>
    <script src="js/auth/auth.js"></script>

    <!-- Main -->
    <script src="js/notfound.js"></script>
    <script src="js/router.js"></script>
    <script src="js/store.js"></script>
    <script src="js/main.js"></script>
</body>

</html>